* {
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.topo {
    width: 1366px;
    height: 100px;
    background-color: #062639;
    margin: 0 auto;
}


/* .menu {
width: 900px;
height: 50px;
} */

.menu ul {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

.menu a {
    color: #edf4e4;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 35px 50px;
}

.banner {
    width: 1366px;
    margin: 0 auto;
}

.banner img {
    width: 1366px;
    height: 700px;
}

main {
    width: 1366px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px
}

.receita {
    width: 1366px;
    height: 500px;
    padding: 10px;
}

.receita h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.receitas p {
    font-size: 20px;
}

.receitapassos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 500px;
    height: 500px;
    margin-top: 40pt;
}

.box h2 {
    text-align: center;
}